<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCP95-3NxwiyVThrJs6G8-B7lz9YFbIJPg</string>
	<key>GCM_SENDER_ID</key>
	<string>153993816171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.pcestudyapp</string>
	<key>PROJECT_ID</key>
	<string>p-c-e-study-app-ocfg7z</string>
	<key>STORAGE_BUCKET</key>
	<string>p-c-e-study-app-ocfg7z.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153993816171:ios:19cac68540c050091e692e</string>
</dict>
</plist>